@model IEnumerable<PrestitiBiblioteca.Models.Libro>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Autore)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Titolo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Editore)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Classificazione)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Autore)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Titolo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Editore)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Classificazione)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Codice }) |
            @Html.ActionLink("Details", "Details", new { id=item.Codice }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Codice })
        </td>
    </tr>
}

</table>
